USE [master]
GO
/****** Object:  Database [ProjetoFinal_ATEC]    Script Date: 08/05/2026 16:30:18 ******/
CREATE DATABASE [ProjetoFinal_ATEC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoFinal_ATEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjetoFinal_ATEC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoFinal_ATEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjetoFinal_ATEC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoFinal_ATEC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoFinal_ATEC]
GO
/****** Object:  Table [dbo].[carrinho_itens]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrinho_itens](
	[id_carrinho_itens] [int] IDENTITY(1,1) NOT NULL,
	[id_utilizadores] [int] NOT NULL,
	[id_produtos] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
	[data_adicao] [datetime] NOT NULL,
 CONSTRAINT [PK_carrinho_itens] PRIMARY KEY CLUSTERED 
(
	[id_carrinho_itens] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_carrinho_itens_utilizador_produto] UNIQUE NONCLUSTERED 
(
	[id_utilizadores] ASC,
	[id_produtos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categorias] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[id_pai] [int] NULL,
	[ativa] [bit] NULL,
 CONSTRAINT [PK_categorias] PRIMARY KEY CLUSTERED 
(
	[id_categorias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[codigos_postais]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[codigos_postais](
	[codigo_postal] [varchar](8) NOT NULL,
	[localidade] [varchar](100) NOT NULL,
	[distrito] [varchar](100) NOT NULL,
	[cidade] [varchar](100) NOT NULL,
 CONSTRAINT [PK_codigos_postais] PRIMARY KEY CLUSTERED 
(
	[codigo_postal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[encomenda_items]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[encomenda_items](
	[id_encomenda_items] [int] IDENTITY(1,1) NOT NULL,
	[id_encomendas] [int] NOT NULL,
	[id_produtos] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
	[preco_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_encomenda_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[encomendas]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[encomendas](
	[id_encomendas] [int] IDENTITY(1,1) NOT NULL,
	[id_utilizadores] [int] NOT NULL,
	[data_criacao] [datetime] NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[morada_entrega] [nvarchar](255) NULL,
	[codigo_postal] [varchar](8) NULL,
	[notas] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_encomendas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marcas]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marcas](
	[id_marcas] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
 CONSTRAINT [PK_marcas] PRIMARY KEY CLUSTERED 
(
	[id_marcas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produto_imagens]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produto_imagens](
	[id_produto_imagens] [int] IDENTITY(1,1) NOT NULL,
	[id_produtos] [int] NOT NULL,
	[url] [varchar](255) NOT NULL,
	[principal] [bit] NOT NULL,
 CONSTRAINT [PK_produto_imagens] PRIMARY KEY CLUSTERED 
(
	[id_produto_imagens] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[id_produtos] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[descricao] [varchar](max) NULL,
	[preco] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[id_categorias] [int] NOT NULL,
	[ativo] [bit] NOT NULL,
	[id_marcas] [int] NULL,
	[promocao] [int] NULL,
 CONSTRAINT [PK_produtos] PRIMARY KEY CLUSTERED 
(
	[id_produtos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[push_tokens]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[push_tokens](
	[id_utilizadores] [int] NOT NULL,
	[token] [nvarchar](512) NOT NULL,
	[atualizado_em] [datetime] NOT NULL,
 CONSTRAINT [PK_push_tokens] PRIMARY KEY CLUSTERED 
(
	[id_utilizadores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tokens_utilizadores]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tokens_utilizadores](
	[id_tokens_utilizadores] [int] IDENTITY(1,1) NOT NULL,
	[id_utilizadores] [int] NOT NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[codigo] [nvarchar](100) NOT NULL,
	[expira_em] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tokens_utilizadores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilizadores]    Script Date: 08/05/2026 16:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilizadores](
	[id_utilizadores] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NULL,
	[tipo] [int] NOT NULL,
	[email_confirmado] [bit] NULL,
	[two_factor_habilitado] [bit] NOT NULL,
	[telefone] [nvarchar](20) NULL,
	[morada] [nvarchar](200) NULL,
	[codigo_postal] [varchar](8) NULL,
 CONSTRAINT [PK_utilizadores] PRIMARY KEY CLUSTERED 
(
	[id_utilizadores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_utilizadores_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carrinho_itens] ADD  DEFAULT ((1)) FOR [quantidade]
GO
ALTER TABLE [dbo].[carrinho_itens] ADD  DEFAULT (getdate()) FOR [data_adicao]
GO
ALTER TABLE [dbo].[categorias] ADD  CONSTRAINT [DF_categorias_ativa]  DEFAULT ((1)) FOR [ativa]
GO
ALTER TABLE [dbo].[encomenda_items] ADD  DEFAULT ((0)) FOR [preco_unitario]
GO
ALTER TABLE [dbo].[encomendas] ADD  DEFAULT (getdate()) FOR [data_criacao]
GO
ALTER TABLE [dbo].[encomendas] ADD  DEFAULT ('pendente') FOR [estado]
GO
ALTER TABLE [dbo].[produto_imagens] ADD  DEFAULT ((0)) FOR [principal]
GO
ALTER TABLE [dbo].[produtos] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[produtos] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[push_tokens] ADD  DEFAULT (getdate()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[utilizadores] ADD  CONSTRAINT [DF_utilizadores_tipo]  DEFAULT ('cliente') FOR [tipo]
GO
ALTER TABLE [dbo].[utilizadores] ADD  CONSTRAINT [DF_utilizadores_email_confirmado]  DEFAULT ((0)) FOR [email_confirmado]
GO
ALTER TABLE [dbo].[utilizadores] ADD  DEFAULT ((0)) FOR [two_factor_habilitado]
GO
ALTER TABLE [dbo].[carrinho_itens]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_itens_produtos] FOREIGN KEY([id_produtos])
REFERENCES [dbo].[produtos] ([id_produtos])
GO
ALTER TABLE [dbo].[carrinho_itens] CHECK CONSTRAINT [FK_carrinho_itens_produtos]
GO
ALTER TABLE [dbo].[carrinho_itens]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_itens_utilizadores] FOREIGN KEY([id_utilizadores])
REFERENCES [dbo].[utilizadores] ([id_utilizadores])
GO
ALTER TABLE [dbo].[carrinho_itens] CHECK CONSTRAINT [FK_carrinho_itens_utilizadores]
GO
ALTER TABLE [dbo].[categorias]  WITH CHECK ADD  CONSTRAINT [FK_categorias_pai] FOREIGN KEY([id_pai])
REFERENCES [dbo].[categorias] ([id_categorias])
GO
ALTER TABLE [dbo].[categorias] CHECK CONSTRAINT [FK_categorias_pai]
GO
ALTER TABLE [dbo].[encomenda_items]  WITH CHECK ADD  CONSTRAINT [FK_encomenda_items_encomendas] FOREIGN KEY([id_encomendas])
REFERENCES [dbo].[encomendas] ([id_encomendas])
GO
ALTER TABLE [dbo].[encomenda_items] CHECK CONSTRAINT [FK_encomenda_items_encomendas]
GO
ALTER TABLE [dbo].[encomenda_items]  WITH CHECK ADD  CONSTRAINT [FK_encomenda_items_produtos] FOREIGN KEY([id_produtos])
REFERENCES [dbo].[produtos] ([id_produtos])
GO
ALTER TABLE [dbo].[encomenda_items] CHECK CONSTRAINT [FK_encomenda_items_produtos]
GO
ALTER TABLE [dbo].[encomendas]  WITH CHECK ADD  CONSTRAINT [FK_encomendas_codigos_postais] FOREIGN KEY([codigo_postal])
REFERENCES [dbo].[codigos_postais] ([codigo_postal])
GO
ALTER TABLE [dbo].[encomendas] CHECK CONSTRAINT [FK_encomendas_codigos_postais]
GO
ALTER TABLE [dbo].[encomendas]  WITH CHECK ADD  CONSTRAINT [FK_encomendas_utilizadores] FOREIGN KEY([id_utilizadores])
REFERENCES [dbo].[utilizadores] ([id_utilizadores])
GO
ALTER TABLE [dbo].[encomendas] CHECK CONSTRAINT [FK_encomendas_utilizadores]
GO
ALTER TABLE [dbo].[produto_imagens]  WITH CHECK ADD  CONSTRAINT [FK_produto_imagens_produtos] FOREIGN KEY([id_produtos])
REFERENCES [dbo].[produtos] ([id_produtos])
GO
ALTER TABLE [dbo].[produto_imagens] CHECK CONSTRAINT [FK_produto_imagens_produtos]
GO
ALTER TABLE [dbo].[produtos]  WITH CHECK ADD  CONSTRAINT [FK_produtos_categorias] FOREIGN KEY([id_categorias])
REFERENCES [dbo].[categorias] ([id_categorias])
GO
ALTER TABLE [dbo].[produtos] CHECK CONSTRAINT [FK_produtos_categorias]
GO
ALTER TABLE [dbo].[produtos]  WITH CHECK ADD  CONSTRAINT [FK_produtos_marcas] FOREIGN KEY([id_marcas])
REFERENCES [dbo].[marcas] ([id_marcas])
GO
ALTER TABLE [dbo].[produtos] CHECK CONSTRAINT [FK_produtos_marcas]
GO
ALTER TABLE [dbo].[push_tokens]  WITH CHECK ADD  CONSTRAINT [FK_push_tokens_utilizadores] FOREIGN KEY([id_utilizadores])
REFERENCES [dbo].[utilizadores] ([id_utilizadores])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[push_tokens] CHECK CONSTRAINT [FK_push_tokens_utilizadores]
GO
ALTER TABLE [dbo].[tokens_utilizadores]  WITH CHECK ADD  CONSTRAINT [FK_tokens_utilizadores] FOREIGN KEY([id_utilizadores])
REFERENCES [dbo].[utilizadores] ([id_utilizadores])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tokens_utilizadores] CHECK CONSTRAINT [FK_tokens_utilizadores]
GO
ALTER TABLE [dbo].[utilizadores]  WITH CHECK ADD  CONSTRAINT [FK_utilizadores_codigos_postais] FOREIGN KEY([codigo_postal])
REFERENCES [dbo].[codigos_postais] ([codigo_postal])
GO
ALTER TABLE [dbo].[utilizadores] CHECK CONSTRAINT [FK_utilizadores_codigos_postais]
GO
USE [master]
GO
